<h1>----- Post-its ----- </h1>
<p><%= link_to 'New Post-it' , new_note_path %></p> 
<% @notes.each do |note| %>
  <h3><%= note.title %></h3> 
  <%= image_tag('postit2.png') %>
  <br></br>
 
  <%= link_to 'View', note_path(note) %> 

  <%= link_to 'Edit', edit_note_path(note) %> 

  <%= link_to 'Delete', note, method: :delete %>
<% end %> 

